<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-section logo-section">
                <img src="/images/logo.png" alt="Logo" class="footer-logo">
                <div class="text-content">
                    <h3>Workforce International Inc.</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regellia.</p>
                </div>
            </div>            
            <div class="footer-section quick-links">
                <h3>Partnership</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=61551943532046&mibextid=ZbWKwL">Workforce International</a></li>
                    <li><a href="https://dmw.gov.ph/archives/default.html">POEA</a></li>
                    <li><a href="https://owwa.gov.ph/">Owwa</a></li>
                    <li><a href="https://dmw.gov.ph/ofwpass">DMW</a></li>
                </ul>
            </div>
            <div class="footer-section contact-info">
                <h3>Have a Questions?</h3>
                <p><i class="fa fa-map-marker"></i> City of Manila</p>
                <p><i class="fa fa-phone"></i> 09123456789</p>
                <p><i class="fa fa-envelope"></i> e.i.workforce@gmail.com</p>
            </div>
        </div>
    </footer>
    
</body>
</html>